* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BackImage {
  position: relative;
  width: 100%;
  height: 100vh;
}
.RegisterBox {
  width: 50%;
  margin: auto;
}
.RegisterBox img {
    width: 50%;
  position: absolute;
  top: 5%;
}
